
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#logo_top{
    height: 64px;
    width: auto;
}

#host_globe a,
#host_globe i{
    font-size: 15px;
    color: black;
}

#btn_account{
    color: #696969;
    border-style: solid;
    border-width: 1px;
    border-color: #a6a5a5;
    border-radius: 20px;
}

#btn_account i:last-child{
    font-size: 26px;
}

#btn_account i:first-child{
    font-size: 15px;
}

#btn_account:hover{
    box-shadow: -2px 2px 5px #d9d7d7;
}

#menu_account{
    transform: translate(50px, 10px);
    border: none;
    box-shadow: 4px -2px 10px #d9d7d7;
    font-size: 13px;
}

#menu_account li{
    padding-right: 3.30rem;
}

#menu_account li a,
#menu_collapse_sm li{
    color: #696969;
}

/* MENU COLLAPSE SM */

#navbarNavDarkDropdown{
    transform: translate(-203px,26px);
}


#menu_collapse_sm{
    border: none;
    box-shadow: 4px -2px 10px #d9d7d7;
    font-size: 13px;
}

/* FOOTER */

#myTab li button{
    color: #696969;
    font-size: 14px;
}

#myTab li button.active{
    color: black;
}

#myTabContent p{
    margin: 0;
    font-size: 12px;
    color: #696969;
}

#link_footer a,
#link_footer p,
#bottom_footer a{
    color: #696969;
    text-decoration: none;
    font-size: 14px;
}

#link_footer p{
    margin-bottom: 0;
}

#footer_container hr{
    margin-bottom: 0;
    color: #696969;
}

#bottom_footer p{
    color: #696969;
    margin-bottom: 0;
    font-size: 14px;
}

#bottom_footer i{
    text-decoration: none;
    font-size: 20px;
}

