@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,400&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav img {
    width: 120px;
}

nav {
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 743px) {
    section .container {
        display: flex !important;
        flex-direction: column !important;
    }

    section .left-item {
        position: static !important;
        order: 2;
        margin: auto;
        width: fit-content !important;
        margin-top: 20px;
    }


    section .right-item img {
        object-fit: cover;
        order: 1 !important;
        margin: auto !important;
    }

    main .row.cards {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    main .houses {
        max-width: 320px !important;
        overflow: scroll !important;
    }

}

@media screen and (max-width: 1127px) {
    footer .container {
        flex-direction: column;
    }

    footer .container div:first-child {
        order: 1;
        padding: 5px 5px 0 0;
    }

    footer .container span {
        order: 2;
        padding: 5px 5px 0 0;

    }
}

section {
    min-height: 600px;
}

section .container {
    position: relative;
}

section .container .right-item img {
    width: 700px;
    height: 480px;
    border-radius: 5%;
    margin-right: 18%;
}

section .container .left-item {
    width: 450px;
    height: 420px;
    background-color: whitesmoke;
    position: absolute;
    top: 5vh;
    border-radius: 5%;
    z-index: 2;
}

.bar {
    width: 360px;
    background: white;
    box-shadow: 0 0 5px hsl(0 0% 78%);
    height: 50px;
    border-radius: 10px;
    font-size: 0.7rem;
}

.bar:hover {
    box-shadow: 0 0 5px hsl(0, 0%, 0%);
}

.location {
    width: 34%;
}

.bar .location input {
    border: transparent;
}

.bar {
    position: relative;
}


.bar .location {
    position: absolute;
    content: "";
    left: 10%;
    top: 45%;
    transform: translateY(-50%);
}

.bar .check-in {
    border-right: 1px solid lightgray;
}

.bar .check-out {
    position: absolute;
    left: 55%;
}

.left-item .search-btn button {
    border: 1px solid white;
    width: 87%;
    background-color: #DB0D64;
    height: 50px;
    border-radius: 10px;
}

main .container i {
    font-size: 25px;
}

.houses img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.houses i {
    font-size: 15px !important;
}

.houses .house-info h6:first-child {
    font-weight: 600;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.houses .house-info div h6,
.house-descr h6 {
    font-size: 14px;
    white-space: nowrap;
    width: 306px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.houses .house-descr h6:last-child b {
    font-weight: 600;
}

.row .btn-card {
    font-weight: 600;
}

.row .btn-card:hover {
    background-color: rgb(232, 232, 232) !important;
    color: black !important;
}

.container .answers div:first-child h2 {
    font-size: 45px;
    font-weight: 600;
}

.container .answers div:last-child button {
    font-size: 23px;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color: white !important;
    box-shadow: none !important;
}

.container .row .last-sec span:first-child,
span:nth-child(3) {
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    padding: 5px;
}

.container .row .last-sec span:last-child {
    font-size: 15px;
    padding: 5px;
}

footer {
    background-color: #F7F7F7;
    border-top: 1px solid lightgray;
}

footer .container div:first-child,
span {
    font-size: 14px;
}

footer .container div:last-child {
    font-size: 20px;
}